<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user page</title>
</head>
<body>
<H1>Edit user page</H1>
<form th:method="PATCH" th:action="@{/edit(id=${user.getId()})}" th:object="${user}">

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col" th:text="${user.getId()}"></th>
        </tr>
        </thead>
    </table>

    <label>Name:</label>
    <input type="text" th:field="*{name}"/>
    </div>
    <div>
        <label>Age:</label>
        <input type="text" th:field="*{age}"/>
    </div>
    <br>
    <div>
        <button type="submit">Update User</button>
    </div>
</form>

</body>
</html>