<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users list page</title>
</head>
<body>
<H1> Users list page</H1>

<table width="300">

    <tr bgcolor="grey">
        <th width="100">id</th>
        <th width="100">name</th>
        <th width="100">age</th>
    </tr>

    <tr bgcolor="lightgrey" th:each="user : ${users}" align="center">
        <td th:utext="${user.getId()}">     Id</td>
        <td th:utext="${user.getName()}">   Name</td>
        <td th:utext="${user.getAge()}">    Age</td>

        <td>
            <a th:href="@{/edit(id=${user.getId()})}">Edit</a>
        </td>
        <td>
            <a th:href="@{/delete(id=${user.getId()})}">Delete</a>
        </td>
    </tr>

</table>

<a th:href="@{/new}">Create new user</a>


</body>
</html>